.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
}

table {
	border-collapse: collapse;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
							0 3px 1px -2px rgba(0,0,0,.2), 
							0 1px 5px 0 rgba(0,0,0,.12);
	margin-bottom: 20px;
	max-width: 1024px;
	width: 100vw;
}

th {
	color: $accent-color;
	padding: 1%;
}

.thirty-day-cell {
	@include cursor;
}

.all-time-cell {
	@include cursor;
}

tr {
	background: $table-background;
	border-top: 1px solid rgba(0,0,0, 0.12);
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

td {
	text-align: center;
}
.user-pic {
	border-radius: 50%;
	border: 1px solid rgba(0,0,0, 0.12);
	max-width: 50px;
	max-height: 50px;
}